{% extends 'portfolio/layout.html' %}

{% block title %}{{ projeto.title }} - Meu Portfólio{% endblock %}

{% block content %}
    <h1>{{ projeto.title }}</h1>
    {% if projeto.image %}
        <img src="{{ projeto.image.url }}" alt="{{ projeto.title }}" style="max-width: 400px;">
    {% endif %}
    <p>{{ projeto.description }}</p>
    {% if projeto.url %}
        <a href="{{ projeto.url }}">Link para o Projeto</a>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'portfolio:editar_projeto' projeto.id %}"><button>Editar Projeto</button></a>
        <a href="{% url 'portfolio:apagar_projeto' projeto.id %}"><button>Apagar Projeto</button></a>
    {% endif %}
{% endblock %}
