{% extends "artigos/layout.html" %}

{% block title %}
    Comentários e Classificações de {{ artigo.title }}
{% endblock %}

{% block content %}
    <h2>Comentários e Classificações de {{ artigo.title }}</h2>
    <ul>
    {% for comentario in comentarios %}
        <li>
            {{ comentario.autor }} - {{ comentario.texto }} - {{ comentario.rating }}
            {% if request.user.is_authenticated %}
                <a href="{% url 'artigos:apagar_comentario' comentario.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar este comentario?');"><button>Remover</button></a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
